{% extends 'layout-admin.html.twig' %}
{% import 'macros/_heat-activity-prototype.html.twig' as formHeatActivityMacro %}

{% block page_title %}
    <span class="d-flex gap-3 align-items-center">
        <a class="fs-3 text-primary" href="{{ path('app_admin_customer_list') }}"><i
                    class="bi bi-arrow-left-circle-fill"></i></a>
        <span>New activity for customer {{ customer.companyName }}</span>
    </span>
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <div class="d-flex flex-column gap-3 col-xl-6 mx-auto">

        <div>
            <div class="border rounded bg-white p-3">
                {{ form_row(form.label) }}
            </div>
        </div>

        <div>
            <div class="border rounded bg-white p-3">
                <div class="d-flex gap-2">
                    <div class="col col-2">
                        {{ form_row(form.address.number) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.address.street) }}
                    </div>
                </div>
                <div class="d-flex flex-column flex-md-row gap-2">
                    <div class="col col-3">
                        {{ form_row(form.address.postalCode) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.address.city) }}
                    </div>

                </div>
            </div>
        </div>

        {{ form_row(form.submit, {'attr': {'class': 'btn btn-primary text-white'}}) }}

    </div>
    {{ form_end(form) }}
{% endblock %}