{% import 'macros/_contact-prototype.html.twig' as formContactMacro %}

{{ form_start(form) }}
<div class="d-flex flex-column gap-3">
    <div class="d-flex flex-column gap-3 flex-lg-row gap-lg-5 justify-content-center">

        <div class="d-flex flex-column gap-3">
            <div>
                <h4 class="">Basic info</h4>
                <div class="border rounded bg-white p-3">
                    {{ form_row(form.companyName) }}
                </div>
            </div>

            <div>
                <h4 class="">Billing address</h4>
                <div class="border rounded bg-white p-3">
                    <div class="d-flex gap-2">
                        <div class="col col-2">
                            {{ form_row(form.billingAddress.number) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.billingAddress.street) }}
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-md-row gap-2">
                        <div class="col col-3">
                            {{ form_row(form.billingAddress.postalCode) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.billingAddress.city) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex flex-column gap-3">
            <div>
                <h4 class="">Reference contact</h4>
                {{ formContactMacro.printContact(form.referenceContact) }}
            </div>
            <div>
                <h4 class="">Other contacts</h4>
                <div class="customer-other-contacts d-flex flex-column gap-3 mb-3"
                     data-controller="customer-contact-form"
                     data-prototype="{{ formContactMacro.printContact(form.otherContacts.vars.prototype)|e('html_attr') }}">
                    {% for contact in form.otherContacts %}
                        {{ formContactMacro.printContact(contact) }}
                    {% endfor %}
                </div>
                <button id="btn_add_other_contact" type="button" class="btn-add-collection">Add another contact
                </button>
            </div>
        </div>

    </div>

    <div>
        <button type="submit" class="btn btn-primary text-white">Save</button>
    </div>
</div>

{{ form_end(form) }}